.badge-material{
    background:#dcfce7;
    color:#166534;
}

#tablaMateriales td{
    vertical-align:middle;
}

#tablaMateriales td:nth-child(6){
    font-weight:bold;
    color:#166534;
}
